In [39]:
import pandas as pd
import numpy as np

In [18]:
file_name = "https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv"
df = pd.read_csv(file_name)

In [35]:
dfL=pd.melt(df,value_vars=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])

In [40]:
gW=np.random.randint(10,20,600)

In [41]:
dfL['gW']=gW

In [49]:
dfExp=pd.DataFrame(data={'param':['sepal_length','petal_width'],'exp':['value +gw','value - gw']})

In [100]:
normList=[]
for i in range(0,1):
    par=dfL.loc[i]['variable']
    gW=dfL.loc[i]['gW']
    parVal=dfL.loc[i]['value']
    normVal=applyNormalizationRules(gW,par,parVal,dfExp)
    print(normVal)

value +gw
24.1

In [99]:
def applyNormalizationRules(gW,par,parVal,exprTable):
    value=parVal
    gw=gW
    normVal=0
    if par in exprTable.param.unique():
     expr=exprTable[exprTable['param']==par]['exp'].values[0]
     print(expr)
     normVal=eval(expr)
    return normVal

In [93]:
# applyNormalizationRules(10,'sepal_length',20,dfExp)

20
10
value +gw

30

In [91]:
'sepal_length'in dfExp.param.unique()
exp=dfExp[dfExp['param']=='sepal_length']['exp'].values[0]
exp
gw=3
value=3
eval(exp)

6

In [98]:
dfL

         variable  value  gW
0    sepal_length    5.1  19
1    sepal_length    4.9  17
2    sepal_length    4.7  18
3    sepal_length    4.6  17
4    sepal_length    5.0  14
..            ...    ...  ..
595   petal_width    2.3  15
596   petal_width    1.9  15
597   petal_width    2.0  15
598   petal_width    2.3  18
599   petal_width    1.8  15

[600 rows x 3 columns]